.controls {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.title {
    margin-right: 10px;
}

.header {
    margin-bottom: 20px;
}

.about {
    margin-top: 30px;
}

.absolute-style {
    opacity: .6;
    position: absolute;
    width: 940px;
}

.byline {
    font-style: italic;
    text-align: right;
}

.navbar-btn {
    color: #e7a55b;
}