.controls {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.title {
    margin-right: 10px;
}

.header {
    margin-bottom: 20px;
}

.transparent {
    opacity: .6;
}

.overlap {
    top: -128px;
}

.byline {
    font-style: italic;
    text-align: right;
}

.navbar-btn {
    color: #e7a55b;
}

.about-divider {
    margin-top: -50px;
}

#project {
    margin-top: 50px;